<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu CRUD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu CRUD</ion-title>
    </ion-toolbar>
  </ion-header>

  <main class="home-layout">
    <section class="intro">
      <h1>Pilih Menu</h1>
      <p>Setiap card akan membuka halaman CRUD yang berbeda.</p>
    </section>

    <section class="menu-grid">
      <ion-card
        *ngFor="let menu of menus"
        button="true"
        [color]="menu.color"
        [routerLink]="menu.route"
        routerDirection="forward"
      >
        <ion-card-header>
          <div class="card-icon">
            <ion-icon [name]="menu.icon"></ion-icon>
          </div>
          <ion-card-title>{{ menu.title }}</ion-card-title>
          <ion-card-subtitle>{{ menu.subtitle }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{ menu.description }}
          <ion-badge *ngIf="getPendingCount(menu.entity) > 0" color="light">
            {{ getPendingCount(menu.entity) }} data offline
          </ion-badge>
        </ion-card-content>
      </ion-card>
    </section>
  </main>
</ion-content>
